---
BasedOnStyle: Google
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseSensitive
...
